@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200;300;400;500&family=Cairo:wght@300;400;500&family=Cormorant+Garamond:wght@300;400;500;600&family=Cormorant+Upright:wght@300;400;500&family=Inconsolata:wght@300;400;500&family=Noto+Sans+Tangsa&family=Nunito:wght@300;400;600&family=Overpass+Mono:wght@300;400;500;600&family=Pacifico&family=Podkova:wght@400;500;600&family=Poppins:wght@300;400&family=Quicksand:wght@300;400;500;600;700&family=Red+Hat+Mono:wght@300;400;500;600&family=Roboto+Mono:wght@200;300;400;500;600&family=Rokkitt:wght@200;300;400;500&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400;500;700&display=swap');

/** colors */
:root {
  --color-green-darkest: #414A39;
  --color-green-darker: #5B6650;
  --color-green-medium: #707E62;
  --color-green-light: #C9DBD2;
  --color-brown-dark: #694937;
  --color-brown-medium: #855B4F;
  --color-brown-light: #A59384;
  --color-shadow: rgba(0,0,0,0.2);
  --color-brown-alt-dark: #514130;
  --color-brown-alt-medium: #735a48;
  --color-brown-alt-light: #827b72;
}

/** dimensions */
:root {
  --width-content: calc(100vw - 1rem);

  --slide-margin-top: 3rem;
  --slide-margin-bottom: 3rem;
  --height-header: 4rem;

  --height-project-card: 20rem;

  font-size: 12px;
}

/** fonts */
:root {
  /* unassigned */
  --font-family-red-hat-mono: 'Red Hat Mono', monospace;
  --font-family-roboto-mono: 'Roboto Mono', monospace;
  --font-family-cairo: 'Cairo', sans-serif;
  --font-family-noto: 'Noto Sans Tangsa', sans-serif;
  --font-family-nunito: 'Nunito', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-quicksand: 'Quicksand', sans-serif;

  /* large */
  --font-family-courier-new: 'Courier New', Courier, monospace;
  --font-family-podkova: 'Podkova', serif;
  --font-family-rokkitt: 'Rokkitt', serif;
  --font-family-cormorant-g: 'Cormorant Garamond', serif;

  /* small */
  --font-family-iconsolata: 'Inconsolata', monospace;
  --font-family-azeret-mono: 'Azeret Mono', monospace;
  --font-family-overpass-mono: 'Overpass Mono', monospace;
  --font-family-sono: 'Sono', sans-serif;

  /* Attribution */
  --font-family-cormorant-u: 'Cormorant Upright', serif;
  --font-family-pacifico: 'Pacifico', cursive;
  --font-family-tilt-neon: 'Tilt Neon', cursive;

  /* choosen*/
  --font-set-large-text: var(--font-family-cormorant-g);
  --font-set-small-text: var(--font-family-nunito);  
  --font-set-buttons: var(--font-family-red-hat-mono);
  --font-set-cursive: var(--font-family-tilt-neon);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-set-small-text);
}

react-render,
flex-wrapper,
flex-item,
background-filter {
  display: block;
}

react-render {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-set-large-text);
}


@media only screen and (min-width: 300px) {
  :root {
    font-size: 14px;
  }
}
@media only screen and (min-width: 700px) {
  :root {
    font-size: 16px;
  }
}
/* 
@media only screen and (min-width: 400px) {
  :root {
    --site-margin-left: calc((100vw - (400px - 2 * 16px)) / 2);
    --site-margin-right: calc((100vw - (400px - 2 * 16px)) / 2);
  }
}
@media only screen and (min-width: 700px) {
  :root {
    --site-margin-left: calc((100vw - (700px - 3 * 16px)) / 2);
    --site-margin-right: calc((100vw - (700px - 3 * 16px)) / 2);

    font-size: 16px;
  }
}
@media only screen and (min-width: 900px) {
  :root {
    --site-margin-left: calc((100vw - (900px - 3 * 16px)) / 2);
    --site-margin-right: calc((100vw - (900px - 3 * 16px)) / 2);
  }
}
@media only screen and (min-width: 1100px) {
  :root {
    --site-margin-left: calc((100vw - (1100px - 4 * 16px)) / 2);
    --site-margin-right: calc((100vw - (1100px - 4 * 16px)) / 2);
  }
} */
/* @media only screen and (min-width: 1300px) {
  :root {
    --site-margin-left: calc((100vw - (1300px - 4 * 16px)) / 2);
    --site-margin-right: calc((100vw - (1300px - 4 * 16px)) / 2);
  }
} */
