.--greeting-slide {
  background: right / cover no-repeat url("../../../../public/annie-spratt-QckxruozjRg-unsplash.png");
  background-attachment: fixed;
}

.greeting-slide__wrapper{
  position: relative;

  width: 100%;
  min-height: calc(100vh - var(--height-header));
  min-height: 100vh;

  display: flex;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.15);
  background-color: #c9dbd21e;
  background-color: rgba(0, 0, 0, 0.15);
  background-color: #414a391e;
  background-color: #51413046;
  background-color: #2b221938;

  /* backdrop-filter: blur(3px); */
}

/* @media only screen and (min-width: 700px) {
  .greeting-slide__wrapper {
    align-items: center;
  }
} */