.wrapper__article {
  padding: 1.5rem 1.5rem;
  margin-top: calc(2rem + var(--height-header));
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: var(--width-content);
  height: 80%;
  border-radius: 0.5rem;

  background-color: var(--color-green-transparent-light);
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

/** Image Section */
.article__f-item-image {
  margin-top: 2rem;
  margin-bottom: 2rem;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  order: 0;
}
.article__f-item-text {
  width: 100%;
}
.f-item-image__image {
  flex-shrink: 0;
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 10rem;
  transition: opacity 1000ms ease 1250ms;
}

/** Text Section */
.f-item-text__pre-header {
  margin-bottom: 1rem;
  text-align: center;
  
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 0 2px 2px var(--color-shadow);
    
  transition: opacity 1000ms ease 0ms;
}
.pre-header__span {
  font: inherit;
  transition: opacity 1000ms ease 500ms;
}

.f-item-text__name-header {
  margin-bottom: 1rem;
  text-align: center;

  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0 2px 2px var(--color-shadow);

  transition: opacity 1000ms ease 1000ms;
}
.f-item-text__title-header {
  margin-bottom: 1rem;
  text-align: center;

  font-size: 1.7rem;
  font-weight: 500;
  text-shadow: 0 2px 2px var(--color-shadow);

  transition: opacity 1000ms ease 1000ms;
}
.f-item-text__post-header {
  margin-bottom: 1rem;
  text-align: center;

  font-size: 1rem; font-weight: 400;

  transition: opacity 1000ms ease 1250ms;

  color: var(--color-green-darkest);
  font-weight: 500;
  text-shadow: 0 2px 2px var(--color-shadow);
}
.post-header__span-string {
  color: var(--color-brown-alt-dark);
  font-weight: 600;
}
.--no-opacity {
  opacity: 0;
}
.--full-opacity {
  opacity: 1;
}
.--full-img-opacity {
  opacity: 0.9;
}

/** Links Section */
.f-item-text__continue-arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.continue-arrow-wrapper__fa-hash-link {
  transition: opacity 1000ms ease 1500ms;
  color: rgba(0,0,0,0.4);
}
.--fa-icon-overrides-homeslide {
  font-size: 2rem;
  font-weight: 1000;
  animation: arrow-anim 1.2s ease-in-out 0s infinite;
}
.--fa-icon-overrides-homeslide:hover {
  color: rgba(0,0,0,0.8);
}
@keyframes arrow-anim{
  0%{padding-top: 0.8rem; padding-bottom: 0.4rem;}
  50%{padding-top: 1rem; padding-bottom: 0.2rem;}
  100%{padding-top: 0.8rem; padding-bottom: 0.4rem;}
}

@media only screen and (min-width: 700px) {
  .wrapper__article {    
    width: 600px;
    height: max-content;
  }
}
@media only screen and (min-height: 700px) {
  .wrapper__article {    
    margin-top: calc(5rem + var(--height-header));
    padding-top: 3rem; padding-bottom: 3rem;
  }
}
