.wrapper__article {
  padding: 1.5rem 1.5rem;
  margin-top: calc(2rem + var(--height-header));
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  /* z-index: 1; */

  background-color: rgba(201, 219, 210, 0.7);

  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  overflow: hidden;

  border-radius: 0.5rem;
  width: var(--width-content);
  height: 80%;
}
/* @media only screen and (min-width: 700px) {
  .wrapper__article {
    border-radius: 1rem;
  }
} */

/** Image Section */
.article__f-item-image {
  margin-top: 2rem;
  margin-bottom: 2rem;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  order: 0;
}
.article__f-item-text {
  width: 100%;
}
.f-item-image__image {
  flex-shrink: 0;
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 10rem;
  transition: opacity 1000ms ease 1250ms;
}

/** Text Section */
.f-item-text__pre-header {
  margin-bottom: 1rem;
  text-align: center;
  
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 0 1px 1px var(--color-shadow);
  
  transition: opacity 1000ms ease 0ms;
}
.pre-header__span {
  font: inherit;
  transition: opacity 1000ms ease 500ms;
}

.f-item-text__name-header {
  margin-bottom: 1rem;
  text-align: center;

  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0 1px 1px var(--color-shadow);

  transition: opacity 1000ms ease 1000ms;
}
.f-item-text__title-header {
  margin-bottom: 1rem;
  text-align: center;

  font-size: 1.7rem;
  font-weight: 500;
  text-shadow: 0 1px 1px var(--color-shadow);

  transition: opacity 1000ms ease 1000ms;
}
.f-item-text__post-header {
  margin-bottom: 1rem;
  text-align: center;

  font-size: 1rem; font-weight: 400;

  transition: opacity 1000ms ease 1250ms;

  color: var(--color-green-darkest);
  font-weight: 500;
  text-shadow: 0 1px 1px var(--color-shadow);
}
.post-header__span-string {
  color: var(--color-brown-alt-dark);
  font-weight: 500;
}
.--no-opacity {
  opacity: 0;
}
.--full-opacity {
  opacity: 1;
}
.--full-img-opacity {
  opacity: 0.9;
}

/** Links Section */
.f-item-text__continue-arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.continue-arrow-wrapper__fa-hash-link {
  transition: opacity 1000ms ease 1500ms;
  color: rgba(0,0,0,0.4);
}
.--fa-icon-overrides-homeslide {
  font-size: 2rem;
  font-weight: 1000;
  animation: arrow-anim 1.2s ease-in-out 0s infinite;
}
.--fa-icon-overrides-homeslide:hover {
  color: rgba(0,0,0,0.8);
}
@keyframes arrow-anim{
  0%{padding-top: 0.8rem; padding-bottom: 0.4rem;}
  50%{padding-top: 1rem; padding-bottom: 0.2rem;}
  100%{padding-top: 0.8rem; padding-bottom: 0.4rem;}
}

@media only screen and (min-width: 700px) {
  .wrapper__article {    
    width: 600px;
    height: max-content;
  }
  /*
  .wrapper__article {    
    width: 400px;
    height: auto;

    margin-top: 2rem;
    margin-bottom: 2rem;

    padding-left: 0;
    padding-right: 0;
  }
  .f-item-image__image {
    margin-bottom: 4rem;
  }
  .f-item-text__btn-container {
    justify-content:space-between;
  } 
  */
}
@media only screen and (min-height: 700px) {
  .wrapper__article {    
    margin-top: calc(5rem + var(--height-header));
  }
}


/*

.f-item-text__btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media only screen and (min-width: 350px) {
  .wrapper__article {    
    width: 100%;
    height: 85%;
  }
  .f-item-image__image {
    max-width: 7rem;
    max-height: 7rem;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper__article {    
    width: 600px;

    flex-direction: row;

    margin-left: 8rem;
  }
  .article__f-item-image {
    order: 1;
    width: 30%;
  }
  .article__f-item-text { 
    order: 0;
    width: 70%;
  }

  .f-item-image__image {
    max-width: 75%;
    max-height: 75%;
  }
}

*/