:root {
  --font-family-noto: 'Noto Sans Tangsa', sans-serif;
  --font-family-nunito: 'Nunito', sans-serif;
  --font-family-quicksand: 'Quicksand', sans-serif;
  --font-family-cairo: 'Cairo', sans-serif;

  --font-family-cormorant-g: 'Cormorant Garamond', serif;

  --font-family-pacifico: 'Pacifico', cursive;
  --font-family-tilt-neon: 'Tilt Neon', cursive;
}


.test-class-wr {
  font-family: var(--font-family-pacifico);

  position: absolute;
  bottom: 1rem;

  color: var(--color-green-light);
  /* color: white; */
  font-size: 0.7rem;
  /* text-shadow: black 0px 2px 3px; */
  -webkit-text-stroke: 0.5px var(--color-green-darker);
  filter: drop-shadow(0px 3px 2px black);
}

.test-class-a {
  font-family: var(--font-family-tilt-neon);

  color: inherit;
  font-size: inherit;
  padding-left: 0.7rem;
  padding-right: 0.7rem;

  transition: all 0.3s ease-in-out;
}

.test-class-a:hover {
  color: white;
}