.slide__header {
  width: 100%;
  height: var(--height-header);

  background-color: var(--color-green-darker);
  color: white;
  box-shadow: inset 0 0 16px 0 var(--color-green-darkest);

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wrapper {
  width: var(--width-content);
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: var(--font-set-large-text);
}
.--header-sticky {
  position: sticky;
  top: 0;
}

.header__p-name {

  
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__flex-item {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  font-family: inherit;
}

.header__links {
  font-family: inherit;

  color: white;
  text-decoration: none;

  border: 1px solid var(--color-green-darker);

  font-weight: 400;

  transition: border-bottom 0.5s ease-in-out;
}

.--contact-link {
  margin-left: 1rem;
  font-size: 1.4rem;
}
.--hamburger-link {
  font-size: 1.4rem;
}

.header__links:hover {
  font-weight: 600;
  border-bottom: 1px solid white;
}