.site__sidebar {
  background-color: rgba(255, 255, 255, 0.50);

  backdrop-filter: blur(10px);

  position: fixed;
  right: 0;

  max-width: 0px;
  width: 100%;
  height: 100%;

  z-index: 1;

  transition: max-width 0.3s ease-in-out;

  overflow: hidden;
}

.--sidebar-open {
  max-width: 100%;
}

.sidebar__element {
  display: block;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  text-align: center;
  text-decoration: none;
  
  color: black;

  border-bottom: 1px solid var(--color-green-darkest);
  box-shadow: inset 0px -2px 2px 0px var(--color-shadow);
}