:root {
  --header-font-size-big: 2rem;
  --header-font-size-small: 1.2rem;
}

.layout__header {
  width: 100%;

  background-color: var(--color-green-darkest); color: var(--color-green-light);
  box-shadow: 0 8px 8px 0 var(--color-shadow);

  display: flex; justify-content: center;
  z-index: 1;
}
.header-wrapper {
  width: var(--width-content); height: var(--height-header);

  display: flex; flex-direction: row; justify-content: space-between; align-items: center;

  font-family: var(--font-set-large-text);
}
.--header-sticky {
  position: sticky; top: 0;
}

.header__h1-name-link{
  text-decoration: none;
}
.header__h1-name {
  font-size: var(--header-font-size-big); font-weight: 500;

  color: var(--color-green-light);
}
.header__h1-name:hover {
  color: white;

  transition: color 0.3s ease-in-out;
}
.header__nav {
  display: flex; flex-direction: row; align-items: center; gap: 1rem;
}
@media only screen and (min-width: 1000px) {
  .header__nav {
    gap: 2rem;
  }
}


.--hamburger-btn {
  padding-right: 0.2rem; padding-left: 0.2rem;

  font-family: var(--font-set-large-text); font-size: var(--header-font-size-big);
}
.header-nav__slide-links {
  padding-top: 0.2rem;
  border: 1px solid transparent;

  font-family: var(--font-set-large-text); font-size: var(--header-font-size-small); font-weight: 400;
  text-decoration: none;

  color: var(--color-green-light);
}
.header-nav__slide-links:hover {
  border-bottom: 1px solid white;
  color: white;

  font-weight: 600;

  transition: border-bottom 0.5s ease-in-out, font-weight 0.5s ease-in-out;
}
.header-nav__contact-btn {
  margin-left: var(--header-font-size-big);

  font-family: var(--font-set-large-text); font-size: 1.8rem; font-weight: 500;
}
.header-nav__contact-btn:hover { 
  color: white;

  cursor: help;
}

.dropdown-container {
  position: relative;
}
.dropdown-menu {
  width: 100%;
  max-height: 0;

  /* filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.6)); */
    
  position: absolute; top: 3rem;
  display: flex; flex-direction: column; align-items: center; gap: 1rem;
  overflow: hidden;
  z-index: 1;

  transition: all 0.2s ease-out 0.2s;
}
.dropdown-container:hover .dropdown-menu {
  padding-top: 1rem; padding-bottom: 1rem;

  max-height: 20rem;
}

.--contact-link {
  border: 1px solid var(--color-green-medium);

  height: 3rem; width: 3rem;
  border-radius: 1rem;

  font-size: 1.8rem;

  background-color: var(--color-green-light);
  box-shadow: 0px 4px 4px 0px var(--color-shadow);

  display: flex; align-items: center; justify-content: center;
}

.fa-icon-overrides-layout-header {
  color: var(--color-green-darkest);
}
