:root {
  --font-family-courier-new: 'Courier New', Courier, monospace;
  --font-family-azeret-mono: 'Azeret Mono', monospace;
  --font-family-iconsolata: 'Inconsolata', monospace;
  --font-family-overpass-mono: 'Overpass Mono', monospace;
  --font-family-red-hat-mono: 'Red Hat Mono', monospace;
  --font-family-roboto-mono: 'Roboto Mono', monospace;

  --font-family-cairo: 'Cairo', sans-serif;
  --font-family-noto: 'Noto Sans Tangsa', sans-serif;
  --font-family-nunito: 'Nunito', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-quicksand: 'Quicksand', sans-serif;

  --font-family-cormorant-g: 'Cormorant Garamond', serif;
  --font-family-comorant-u: 'Cormorant Upright', serif;
  --font-family-podkova: 'Podkova', serif;
  --font-family-rokkitt: 'Rokkitt', serif;
  
  --font-family-pacifico: 'Pacifico', cursive;
  --font-family-tilt-neon: 'Tilt Neon', cursive;
}

/* 
:root {
  --font-set-large-text: var(--font-family-courier-new);
  --font-set-small-text: var(--font-family-cairo);
  --font-set-buttons: var(--font-family-cairo);
  --font-set-cursive: var(--font-family-tilt-neon);
} 
*/


.hash-button {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  padding: 0.5rem 0.7rem;
  background-color: var(--color-green-darker);
  text-decoration: none;
  color: white;
  border-radius: 0.7rem;
  cursor: pointer;

  font-size: 14px;

  font-family: var(--font-family-nunito);
  font-family: var(--font-family-cairo);
  line-height: 1.2rem;
  font-weight: 300;
}

.hash-button:hover {
  background-color: var(--color-green-medium);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hash-button:active {
  background-color: var(--color-green-darkest);
}

.hash-button:focus {
  outline: 1px solid var(--color-green-darkest);
}