:root {
  --height-project-card: 20rem;
  --padding-sides-product-card: 1rem;

  --image-min-height: 2rem;
  --image-max-height: 11rem;
}

.card-container__project-card {
  background-color: var(--color-green-medium);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);

  height: var(--height-project-card);
  width: 16rem;

  border-radius: 0.5rem;

  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;

  --product-card-image-height: var(--image-max-height);
  --desc-margin-top: 0;
  --desc-max-height: 0;
  overflow: hidden;
  position: relative;
}
.card-container__project-card:hover {
  transition: all 0.2s ease-in-out ;
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
  --product-card-image-height: var(--image-min-height);
  --desc-margin-top: 1rem;
  /* --desc-max-height: 1.3rem; */
  --desc-max-height: 8rem;
}

.project-card__image-wrapper {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;

  overflow: hidden;
  height: var(--product-card-image-height);
  width: 100%;

  transition: all 0.2s ease-in-out;
}

.project-card__image {
  object-fit: cover;

  width: 100%;
  height: var(--image-max-height);
} 

.project-card__title {
  /* border: 1px solid black; */

  text-align: center;

  margin-top: 0.5rem;
  padding-left: var(--padding-sides-product-card);
  padding-right: var(--padding-sides-product-card);
}

/* ! TODO */
.project-card__desc {
  /* border: 1px solid black; */
  transition: all 0.2s ease-in-out;

  text-align: center;

  margin-top: var(--desc-margin-top);
  padding-left: var(--padding-sides-product-card);
  padding-right: var(--padding-sides-product-card);

  max-height: var(--desc-max-height);
  overflow: hidden;
  z-index: 1;
}
/* .project-card__desc:hover {
  transition: max-height 0.2s ease-in-out;
  max-height: 6rem;
  z-index: 100;
  background-color: inherit;
  z-index: 1;
} */

.project-card__tag-box {
  /* border: 1px solid black; */
  margin-top: 0.5rem;

  width: 100%;
  position: absolute;
  bottom: 3.5rem;

  height: calc(var(--height-project-card) - var(--image-max-height) - (1rem + 1.4rem) - 3.5rem);

  text-align: center;
  padding-left: var(--padding-sides-product-card);
  padding-right: var(--padding-sides-product-card);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tag-box__tag {
  display: block;
  font-size: 0.6rem;
  padding: 0.2rem 0.4rem;
  margin-left: 0.05rem;
  margin-right: 0.05rem;

  height: 1.1rem;

  color: var(--color-green-light) ;
  background-color: var(--color-green-darkest) ;

  border-radius: 0.5rem;
}


.project-card__btn-container {
  /* border: 1px solid black; */

  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding-left: var(--padding-sides-product-card);
  padding-right: var(--padding-sides-product-card);

  display: flex;
  justify-content: space-around;
}

.btn-container__project-buttons {
  width: 2rem;
  height: 2rem;
  background-color: inherit;
  border-radius: 100%;

  color: var(--color-green-light);
  border: 2px solid var(--color-green-light);
}
.btn-container__project-buttons:hover { 
  color: var(--color-green-darkest);
  background-color: var(--color-green-light);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.fa-icon-overrides-projectcard {
  color: inherit;
} 
