.filter-btn-btn {
  position: relative;
  background-color: var(--color-green-medium);
  color: white;
  border-radius: 0.5rem;
  border: none;

  padding: 0.3rem 0.7rem;

  margin-top: 0.5rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  cursor: pointer;
}
.--active-filter {
  background-color: var(--color-green-darkest);
}
.filter-btn-btn:hover {
  background-color: var(--color-green-light);
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.--active-filter:hover {
  background-color: var(--color-green-darker);
  color: white;
}
.filter-btn-btn:active {
  background-color: var(--color-green-darkest);
}
.filter-btn-btn:focus {
  outline: 1px solid var(--color-green-darkest);
}

.filter-btn-count {
  position: absolute;
  background-color: var(--color-green-darker);
  color: white;
  border-radius: 100%;

  font-size: 0.6rem;

  width: 1rem;
  height: 1rem;
  top: -0.4rem;
  right: -0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}