.--tech-slide {
  background-color: var(--color-green-light);
}


.slide-tech__f-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.f-wrapper__slide-header {
  margin-top: var(--slide-margin-top);
}

.--tech-slide-section {
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}

.--tech-slide-section-header {
  text-align: center;
}
.lang-section__f-wrapper {
  margin-top: 0.2rem;
  display: flex;
}
.f-wrapper__lang-item {
  padding-top: 0.3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;

  font-family: var(--font-family-cairo);
  line-height: 1.4rem;
}

.f-wrapper__f-item-tools {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-top: 1rem;
  margin-bottom: var(--slide-margin-bottom);
}

.tools-section__f-wrapper {
  flex-shrink: 0;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 700px) {
  .f-wrapper__f-item-tools {
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    padding-left: var(--site-margin-left);
    padding-right: var(--site-margin-right);
  }
  .tools-section__f-wrapper {
    flex-direction: column;
    align-items: center;
  }
}