.--about-slide {
  background-color: var(--color-brown-alt-extra-light);
  background-color: var(--color-green-light);

  display: flex; align-items: center; flex-direction: column;

  position: relative;

  --info-text-color: var(--color-green-darkest);
  --info-text-color: var(--color-brown-alt-dark);
}

.slide-section__about-article {
  margin-top: 2rem; margin-bottom: 2rem;
  padding: 2rem 1rem;

  background-color: white; box-shadow: 0px 4px 4px 0px var(--color-shadow);
  
  width: var(--width-content);
  border-radius: 0.5rem;
  overflow: hidden;

  text-align: center;
}

.about-article__button-container {
  margin-bottom: 2.5rem;

  width: 100%;

  display: flex; justify-content: center; align-items: center; gap: 1rem;
}
.button-container__info-type-button {
  padding: 0.5rem 1.5rem;

  border: none; border-radius: 2rem;
  
  font-size: 1.1rem; font-weight: 600;

  background-color: var(--color-green-light); color: var(--color-green-darkest);
  background-color: var(--color-brown-alt-extra-light); color: var(--color-brown-alt-extra-dark);
  box-shadow: 0px 2px 2px 0px var(--color-shadow);

  transition: all 0.3s ease-in-out;
}
.--displayed-info-button {
  color: var(--color-green-light); background-color: var(--color-green-darkest); 
  color: var(--color-brown-alt-extra-light); background-color: var(--color-brown-alt-extra-dark); 
  box-shadow: none;

  transform: scale(0.95);
}

.test-wrapper-for-info {
  /* border: 1px solid purple; */
  overflow-y: scroll;
  height: var(--height-about-info-box);
}
.about-article__paragraph-wrapper {
  /* border: 1px solid black; */

  color: var(--info-text-color);

  animation: test-anim 0.6s ease-in-out;
}
@keyframes test-anim {
  /* 0% {
    color: white;
    max-height: 20rem;
  } */
  0% {
    color: white;
    max-height: 5rem;
  }
  100% {
    color: var(--info-text-color);
    max-height: 40rem;
  }
}

.about-article__info-paragraph {
  margin-bottom: 1.5rem;

  overflow: hidden;
  
  color: inherit;
  color: var(--color-brown-alt-extra-dark);

  font-size: 1.1rem; font-weight: 400;
}
.info-paragraph__span {
  color: inherit;
  color: var(--color-brown-alt-dark);

  font-weight: 700;
}

.slide-section__nav-button-container {
  margin-bottom: var(--slide-margin-bottom);

  width: var(--width-content);

  display: flex; justify-content: space-evenly; flex-wrap: wrap; gap: 0.5rem;
}

@media only screen and (min-width: 700px) {
  .slide-section__about-article {
    width: 500px;
  }
  .slide-section__nav-button-container {
    width: 500px;
  }
}


/* 
.test-article {
  color: var(--color-green-darkest);
  white-space:pre-wrap;
  font-weight: 600;
}
.test-article > span {
  color: var(--color-brown-alt-medium);
  font-weight: 600;
} 
*/