:root {
  --height-about-info-box: 41rem;

  --color-bg-about-slide: var(--color-green-light);

  --color-terminal-box: #414a39a4;
  --color-terminal-box: #414a3969;
  --color-terminal-text: var(--color-brown-alt-extra-dark);
  --color-terminal-text: black;
  --color-terminal-span: var(--color-green-medium);
  --color-terminal-span: var(--color-brown-alt-dark);
  --color-terminal-span: var(--color-brown-dark);
  --color-terminal-span: black;
  --color-terminal-span: var(--color-brown-alt-extra-dark);
  --color-terminal-caret: var(--color-brown-alt-extra-light);
  --color-terminal-caret: var(--color-terminal-text);

  --color-about-buttons-bg-normal: var(--color-green-darkest);
  --color-about-buttons-bg-pressed: var(--color-green-medium);
  --color-about-buttons-bg-hover: var(--color-green-darker);

  --color-about-buttons-text-normal: var(--color-green-light);
  --color-about-buttons-text-pressed: var(--color-green-light);
  --color-about-buttons-text-hover: var(--color-green-light);
}
@media only screen and (min-width: 700px) {
  :root {
    --height-about-info-box: 30rem;
  }
}

.--about-slide {
  background-color: var(--color-bg-about-slide);

  display: flex; align-items: center; flex-direction: column;
  position: relative;
}

.slide-section__slide-header {
  margin-top: var(--slide-margin-top); margin-bottom: calc(var(--slide-margin-top) * 3 / 4);

  font-size: 2rem; 
}

/** Top Buttons */
.about-slide__button-container {
  width: 100%;

  display: flex; justify-content: center; align-items: center; gap: 1rem;  
}
.button-container__info-type-button {
  padding: 0.5rem 1.5rem;

  border: none; border-radius: 0.2rem;
  
  cursor: pointer;
  font-size: 1rem;

  background-color: var(--color-about-buttons-bg-pressed); color: var(--color-about-buttons-text-pressed); 
  box-shadow: 0px 2px 2px 0px var(--color-shadow);
  
  transition: all 0.3s ease-in-out;
}
.--displayed-info-button {
  background-color: var(--color-about-buttons-bg-normal); color: var(--color-about-buttons-text-normal);

  box-shadow: 0px 1px 1px 0px var(--color-shadow);

  transform: scale(0.95);
}
@media only screen and (min-width: 700px) {
  .button-container__info-type-button:hover {
    background-color: var(--color-about-buttons-bg-hover); color: var(--color-about-buttons-text-hover);
  }
}

/** Info box(Terminal) */
.slide-section__about-article {
  margin-top: 2rem; margin-bottom: 2rem;
  padding: 1.5rem 1rem;

  background-color: var(--color-terminal-box); box-shadow: 0px 4px 4px 0px var(--color-shadow);
  
  width: var(--width-content); height: var(--height-about-info-box);
  border-radius: 0.2rem;
}
.about-article__paragraph-wrapper {
  max-height: 2rem;

  overflow: hidden;
}
.--cleared-terminal {
  max-height: 0rem;
}
.--full-terminal {
  transition: max-height 0.5s ease-in-out 0.1s;
  max-height: 40rem;
}
.about-article__info-paragraph {
  margin-bottom: 1.5rem;

  color: var(--color-terminal-text);
}
.info-paragraph__span {
  color: var(--color-terminal-span);

  font-weight: 700;
}
.--end-p {
  margin-bottom: 0;
}
.--end-caret{
  text-decoration: underline; text-decoration-thickness: 2px;

  animation: terminal-caret-info-box 1s ease-in-out 0s infinite;
}
@keyframes terminal-caret-info-box {
  45% { color: var(--color-terminal-caret);  }
  50% { color: var(--color-terminal-box);  }
  95% { color: var(--color-terminal-box);  }
  100% { color: var(--color-terminal-caret);  }
}

/** Nav Buttons */
.slide-section__nav-button-container {
  margin-bottom: var(--slide-margin-bottom);

  width: var(--width-content);

  display: flex; justify-content: space-evenly; flex-wrap: wrap; gap: 0.5rem;
}

@media only screen and (min-width: 700px) {
  .slide-section__about-article {
    width: 600px;
  }
  .slide-section__nav-button-container {
    width: 600px;
  }
}

/* .hash-button {
  margin-top: 0.5rem; margin-bottom: 0.3rem;
  padding: 0.5rem 1.5rem;

  background-color: var(--color-about-buttons-bg-normal); color: var(--color-about-buttons-text-normal);
  box-shadow: 0px 3px 3px 0 var(--color-shadow);
  
  border-radius: 2rem;

  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 700px) {
  .hash-button:hover {
    background-color: var(--color-about-buttons-bg-hover); color: var(--color-about-buttons-text-hover);
  }
} */
/* 
.hash-button:active {
  background-color: var(--color-green-darkest);
}
.hash-button:focus {
  outline: 1px solid var(--color-green-darkest);
}  
*/
