.--projects-slide {
  background: center / cover no-repeat url("../../../../public/austin-distel-rxpThOwuVgE-unsplash.jpg");
  background-attachment: fixed;
}

.projects-slide__wrapper {
  position: relative;
  background-color: rgba(201, 219, 210, 0.85);

  display: flex;
  flex-direction: column;

  align-items: center;
}

.projects-slide__title {
  margin-top: var(--slide-margin-top);
  margin-bottom: 1rem;
}

.projects-slide__filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 1rem;
}

.projects-slide__card-container {
  margin-top: 3rem;
  margin-bottom: var(--slide-margin-bottom);

  min-height: var(--height-project-card);

  display: flex;
  flex-direction: row;

  justify-content: center;
  flex-wrap: wrap;
}

.--projects-404 {
  align-self: center;
  color: var(--color-green-darkest);
  
  font-size: 1.1rem;
  font-weight: 600;

  text-shadow: var(--color-green-medium) 20px 0 20px;
}

