.--tech-slide {
  display: block;
  background-color: var(--color-green-light);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-tech__f-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: var(--width-content);
}

.f-wrapper__slide-header {
  margin-top: calc(var(--slide-margin-top) / 2);
}

.--tech-slide-section {
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}

.--tech-slide-section-header {
  text-align: center;
  text-decoration: underline;
}
.lang-section__f-wrapper {
  margin-top: 0.2rem;
  display: flex;
}
.f-wrapper__lang-item {
  padding-top: 0.3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.f-wrapper__f-item-tools {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  margin-top: 1rem;
  margin-bottom: var(--slide-margin-bottom);
}


.tools-section__f-wrapper {
  flex-shrink: 0;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 700px) {
  .f-wrapper__f-item-tools {
    flex-direction: row;
    justify-content: space-around;

    width: var(--width-content);
  }
  .tools-section__f-wrapper {
    flex-direction: column;
    align-items: center;
  }
} 

@media only screen and (min-width: 700px) {
  .f-wrapper__f-item-tools > .--tech-slide-section {
    padding: 5rem, 0.6rem;


    border-radius: 0.4rem;
  
    width: 13rem;
  
    box-shadow: 0 4px 4px 0px var(--color-shadow);

    /* border: 1px solid var(--color-green-darker); */

    transition: all 0.4s ease-in-out 0.2s;

    color: var(--color-green-darkest);
    background-color: white;

  }
}

@media only screen and (min-width: 1000px) {
  .f-wrapper__f-item-tools > .--tech-slide-section:hover {
    color: var(--color-green-light);
    background-color: var(--color-green-darkest);
  }
}