.--tech-slide {
  display: flex; flex-direction: column; align-items: center;
}

.slide-tech__slide-header {
  margin-top: var(--slide-margin-top); margin-bottom: 1rem;

  font-size: 2rem;
}
.slide-tech__header-2 {
  margin-top: calc(var(--slide-margin-top) / 2); margin-bottom: calc(var(--slide-margin-top) / 4);

  font-size: 1.6rem;
}
.slide-tech__f-wrapper {
  display: flex; flex-direction: column; align-items: center;

  width: var(--width-content);
}
.f-wrapper__tools-wrapper {
  margin-bottom: var(--slide-margin-bottom);

  width: 100%;

  display: flex; flex-wrap: wrap; flex-direction: column;
}

/** cards */
.f-wrapper__lang-article-card, 
.f-wrapper__tools-article-card {
  margin-top: 0.5rem; margin-bottom: 0.5rem;
  padding-left: 0.5rem; padding-right: 0.5rem;

  width: 100%;
  border-radius: 0.5rem;
  
  box-shadow: 0 4px 4px 0px var(--color-shadow);
}
.f-wrapper__lang-article-card {
  color: var(--color-green-light); background-color: var(--color-green-darkest);
}
.f-wrapper__tools-article-card {
  color: black; background-color: white;
}
.article-skill-card__header {
  margin-top: 0.5rem; margin-bottom: 1rem;

  text-align: center;

  font-family: var(--font-set-small-text); font-size: 1.3rem; font-weight: 400;
}
.lang-article-card__f-item-wrapper,
.tools-article-card__f-item-wrapper {
  margin-bottom: 1rem;

  display: flex; flex-wrap: wrap; justify-content: center; gap: 0.6rem;
}
.f-item-wrapper__skill-item {
  padding: 0.3rem 0.5rem;
}
/* .--wrapper-for-margin-tech-slide {
  width: 100%;
  margin-top: calc(var(--slide-margin-bottom) / 2);
} */

@media only screen and (min-width: 700px) {
  .slide-tech__slide-header {
    margin-bottom: 0;
  }
  .article-skill-card__header {
    margin-top: 1rem;
  }
  .f-wrapper__lang-article-card {
    padding-left: 1.5rem; padding-right: 1.5rem;

    width: auto;
  }
  .f-wrapper__tools-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .f-wrapper__tools-article-card {
    width: 15rem;
  }
  .lang-article-card__f-item-wrapper {
    gap: 1rem;
  }
  .tools-article-card__f-item-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .tools-article-card__f-item-wrapper > .f-item-wrapper__skill-item {
    text-align: center;
    min-width: max-content;
    width: 100%;
  }
  .f-wrapper__lang-article-card:hover,
  .f-wrapper__tools-article-card:hover {
    box-shadow: 0 8px 16px 0px var(--color-shadow);

    transition: all 0.1s ease-in-out;
  
    color: var(--color-brown-alt-extra-light); 
    background-color: var(--color-brown-alt-dark);
  }

  .lang-article-card__f-item-wrapper > .f-item-wrapper__skill-item:hover,
  .tools-article-card__f-item-wrapper > .f-item-wrapper__skill-item:hover {
    transform: scale(1.1);

    color: white;

    transition: all 0.1s;
  }
}

.--wrapper-for-margin-tech-slide {
  margin-top: 2rem;
  width: 100%;
}