
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family:'Courier New', Courier, monospace;
}

react-render,
flex-wrapper,
flex-item {
  display: block;
}

:root {
  --color-green-darkest: #414A39;
  --color-green-darker: #5B6650;
  --color-green-medium: #707E62;
  --color-green-light: #C9DBD2;
  --color-brown-dark: #855B4F;
  --color-brown-light: #A59384;

  --site-margin-left: 1rem;
  --site-margin-right: 1rem;
  --height-header: 4rem;

  font-size: 14px;
}

@media only screen and (min-width: 300px) {
  :root {
    font-size: 16px;
  }
}
@media only screen and (min-width: 700px) {
  :root {
    --site-margin-left: 3rem;
    --site-margin-right: 3rem;
  }
}
/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

