.site__main {
  /* height: 100vh;
  width: 100vw;
  overflow-y: scroll; */
}

.main__slide {
  /* width: 100%;
  min-height: 100vh; */
}

.site__bottom-nav-bar {
  position: absolute;
  bottom: 10%;
  left: 50%;
  text-align: center;
}