.--greeting-slide {
  background: bottom / cover no-repeat url("../../public/annie-spratt-QckxruozjRg-unsplash.png");
}

.greeting-slide__wrapper{
  position: relative;
  background-color: rgba(201, 219, 210, 0.85);

  width: 100%;
  /* height: calc(100vh - var(--height-header)); */
  min-height:calc(100vh - var(--height-header));

  display: flex;

  justify-content: center;
  align-items: center;
}

.test-class-wr {
  position: absolute;
  bottom: 1rem;

  color: var(--color-green-darker);
  font-size: 0.7rem;
}

.test-class-a {
  color: inherit;
  font-size: inherit;
  padding-left: 0.7rem;
  padding-right: 0.7rem;

  transition: all 0.3s ease-in-out;
}

.test-class-a:hover {
  color: white;
}


