:root {
  --color-green-darkest: #414A39;
  --color-green-darker: #5B6650;
  --color-green-medium: #707E62;
  --color-green-light: #C9DBD2;
  --color-brown-dark: #855B4F;
  --color-brown-light: #A59384;

  --site-margin-left: 4rem;
  --site-margin-right: 4rem;
  --height-header: 4rem;
}


.--greeting-slide {
  background: bottom / cover no-repeat url("../../public/annie-spratt-QckxruozjRg-unsplash.png");
}


.slide__header {
  width: 100%;
  height: var(--height-header);
  background-color: var(--color-green-darker);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.header__p-name {
  margin-left: var(--site-margin-left);
}

.header__flex-item {
  margin-right: var(--site-margin-right);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__links {
  margin-left: 1rem;

  display: block;
  color: white;
  text-decoration: none;
}

.greeting-slide__wrapper{
  background-color: rgba(201, 219, 210, 0.85);

  width: 100%;
  height: calc(100vh - var(--height-header));

  display: flex;

  justify-content: center;
  align-items: center;
}

/* * Here we go:*/
.wrapper__article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 50%;
}

.article__f-item-text {
  width: 70%;
}

.f-item-text__pre-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.f-item-text__header {
  font-size: 32px;
  margin-bottom: 28px;
}

.f-item-text__post-header {
  font-size: 16px;
  margin-bottom: 16px;
}

.f-item-text__btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article__f-item-image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.f-item-image__image {
  flex-shrink: 0;
  max-width: 75%;
  max-height: 75%;

  border-radius: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}