:root {
  --color-green-darkest: #414A39;
  --color-green-darker: #5B6650;
  --color-green-medium: #707E62;
  --color-green-light: #C9DBD2;
  --color-brown-dark: #855B4F;
  --color-brown-light: #A59384;

  --site-margin-left: 4rem;
  --site-margin-right: 4rem;
  --height-header: 4rem;
}

.--projects-slide {
  background-color: var(--color-green-light);

  display: flex;
  flex-direction: column;

  align-items: center;
}

.projects-slide__title {
  margin-top: 4rem;
}
.projects-slide__filter-bar {
  border: 1px solid black;

  margin-top: 4rem;
}
.projects-slide__card-container {
  border: 1px solid black;

  margin-top: 4rem;
}

.card-container__project-card {
  height: 20rem;
  width: 16rem;

  border: 1px solid black;
  border-radius: 0.5rem;
}

.project-card__image {
  height: 40%;
}