:root {
  --color-green-darkest: #414A39;
  --color-green-darker: #5B6650;
  --color-green-medium: #707E62;
  --color-green-light: #C9DBD2;
  --color-brown-dark: #855B4F;
  --color-brown-light: #A59384;

  --site-margin-left: 4rem;
  --site-margin-right: 4rem;
  --height-header: 4rem;
}

.--projects-slide {
  background-color: var(--color-green-light);

  display: flex;
  flex-direction: column;

  align-items: center;
}

.projects-slide__title {
  margin-top: 3rem;

}
.projects-slide__filter-bar {
  border: 1px solid black;

  margin-top: 3rem;
}
.projects-slide__card-container {
  border: 1px solid black;

  margin-top: 2rem;

  display: flex;
  flex-direction: row;

  justify-content: center;
  flex-wrap: wrap;
}

.card-container__project-card {
  height: 20rem;
  width: 16rem;

  /* border: 1px solid black; */
  border-radius: 0.5rem;

  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;

  background-color: var(--color-green-medium);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.card-container__project-card:hover {
  /* border: 2px solid var(--color-green-darkest); */
  /* background-color: var(--color-brown-light); */

  transition: all 0.2s ease-in 0.1s;
  transform: scale(1.005);
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
}

.project-card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;

  margin-bottom: 0.5rem;
}

.project-card__title {
  text-align: center;

  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.project-card__desc {
  text-align: center;
  margin-bottom: 1rem;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  /* text-overflow: ellipsis; */
}

.project-card__btn-container {
  display: flex;
  justify-content: space-around;
}